.main-hero-about{
    height: 223px;
    background: rgba(0, 0, 0, 0.3) url('../../assets/about_main_hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    border-radius: 25px;
    margin-bottom: 3%;
    @media (max-width: 768px)
    {
        height: 180px;
        margin-top: 12%;
    }
}

.about-item{
    width: 80%;
    margin: 0 auto;
      
}
