.details{
    display: flex;
    flex-direction: row;
    margin: 6% 0;
    padding: 0;
    align-items: center;
    justify-content: space-between; 
    color: #FF6060;
    @media (max-width: 768px){
        flex-direction: column;
        align-items: flex-start;
        display: block;
    }
    h1{
        font-size: 36px;
        font-weight: 500;
        line-height: 51px;
        letter-spacing: 0em;
        text-align: left;
    }
    h3{
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
    }
    @media (max-width: 768px){
        h1{
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0em;
        }
        h3{
            font-size: 14px;
        }
    }
    .host{
        align-items: center;
        padding: 0;
        @media (max-width: 768px){
            flex-direction: row-reverse;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .hostName{
            line-height: 20px;
            p{
                margin: 0;
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: right;
            }
            @media (max-width: 768px){
                margin-right: 5%;
            }
           
        }
        .image{
            text-align: right;  
            padding: 0;
            @media (max-width: 768px){
                width: 30%;
            }
           
            .hostThumbnail{
                width: 64px;
                height: 64px;  
                border-radius: 50%; 
                text-align: right;
                
            }
           
        }
       
    }
    
}
.collapse-advertise {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
    @media (max-width: 768px){
        padding: 0;
        margin: 0;
       display: block;
        div{
            padding: 0;
            display: block;
        }
    }
    div{
        padding: 2px;
    }
    
}

