.main-hero{
    height: 223px;
    background: rgba(0, 0, 0, 0.3) url('../../assets/home_main_hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    border-radius: 25px;
    @media (max-width: 768px)
    {
        height: 111px;
        border-radius: 10px;
    }
}
.title-page{
    font-size: 48px;
    font-weight: 500;
    line-height: 223px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    @media (max-width: 768px)
    {
        font-size: 29px;
        line-height: 111px;
    }
   
}