.main-hero{
    height: 223px;
    background: rgba(0, 0, 0, 0.3) url('../../assets/home_main_hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    border-radius: 25px;
   
}
.title-page{
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 500;
    line-height: 223px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
}