header
{
    padding: 40px 0px;
    color: #FF6060;

    @media (max-width: 768px)
    {
        padding: 5% 5% 0 5% !important;
    }
    .align-text{
        text-align: left;
    }
    .logo
    {
        height: 68px;
    
        @media (max-width: 768px)
        {
            height: 47px;
        }
    }
    .nav-link
    {
        padding-left: 5%;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: center;
    
        &:hover
        {
            text-decoration: underline;
            text-underline-offset: 1rem;
        }
    
        @media (max-width: 768px)
        {
            font-size: 24px;
            padding: 0px 8px;
        }
    }
}
