.footer{
    background-color: black;
    text-align: center; 
    line-height: 6em;
    
.logoWhite{
    padding-top: 2%;
}
 .copyright{
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
    color: white;
 }
}